body{
    width:100%;
background-color: white;
font-family:Poppins;
margin:0px;
}
html{
width:100%
}
.header{
    background-color: #e5e5e5;
    height:600px;
}
.nav ul{
    list-style-type: none;
    font-size: 20px; 
}
.nav li{
    
    display:inline-block;
}
 .nav a{
        text-decoration:none;
        color: black;
        padding:50px;
        font-weight: 700px;

    }
    .polygon{
clip-path: polygon(52% 0,61% 35%,100% 50%,68% 57%,100% 100%,50% 70%, 2% 100%, 32% 57%, 0 47%, 38% 38%);
    }
    .circle{
        clip-path: circle(50% at 50% 50%);
    }
    
.ET{
   display:flex;
    
}
#phead2{
    color: #EAAB1B;
    font-size: 40px;
    font-weight:20px;
 }

#ptext2{
    font-size:20px;
    text-align: justify;

}
.EM{
    background-color: #eaf3e4;
    width: 100%;
    height: 1000px;
   
}
.EM1{
    display: flex;
 justify-content: space-evenly;
 padding-left: 200px;
 padding-right: 20px;
 padding-top: 50px;
}
.EM2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
#emhead{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.one{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:200px;
    width:370px;
    padding-bottom: 150px;
    background-color: white;
    margin-right: 20px;
    


}
.one>img{
    position:relative;bottom: 20px;right:250px;
}
.one>p{
    position:relative;bottom: 400px;left:230px;
}
.two{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:200px;
    width:370px;
    padding-bottom: 150px;
    background-color: white;
    margin-left: 90px;


}
.two>img{
    position:relative;bottom: 20px;right:220px;
}
.two>p{
    position:relative;bottom: 400px;left:230px;
}
.three{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:200px;
    width:400px;
    padding-bottom: 150px;
    background-color: white;
    margin-left: 50px;


}
.three>img{
    position:relative;bottom: 20px;right:170px;
}
.three>p{
    position:relative;bottom: 400px;left:270px;
}
.four{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:70px;
    width:450px;
    padding-bottom: 330px;
    background-color: white;
    margin-left: 230px;


}
.four>img{
    position:relative;top: 20px;right:150px;
}
.four>p{
    position:relative;bottom: 400px;left:300px;
}
.five{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:70px;
    width:350px;
    padding-bottom: 330px;
    background-color: white;
    margin-right: 90px;


}
.five>img{
    position:relative;top: 20px;right:150px;
}
.five>p{
    position:relative;bottom: 400px;left:300px;
}
.six{
    border: 2px solid white;
    border-radius: 5px 5px 30px 30px;
    height:70px;
    width:350px;
    padding-bottom: 330px;
    background-color: white;
    margin-left: 10px;


}
.six>img{
    position:relative;top: 20px;right:150px;
}
.six>p{
    position:relative;bottom: 400px;left:300px;
}

 .HD{
    background-color:#C9ECB5;
    width:100%;
    height:600px;
}
     .htimg1{
    float:left;
    position:relative; bottom: 138px;right:50px;
    padding-left: 100px;
}
.htimg2{
    float: left;
    position:relative; top: 120px;right:380px;
    padding-left: 10px;
    

}
#hthead1{
font-size: 20px;
text-align: center;
padding-top: 30px;
}

#hthead2{
    padding-left: 700px;
    font-size: 40px;
    text-align: center;
    color: #6CB840;
    }

#hthead3{
    font-size: 30px;
}

#hthead4{
    font-size:30px ;
}
#httext{
    font-size:20px ;
}
.CU{
    background-color: #FFD77C;
    width: 100%;
    height:400px;
    font-weight: 300px;
    text-align: center;
}
#cuhead{
    font-size: 20px;
    float: center;
}
#cutext{
font-size: 20px;
float:center;
padding-right: 100px;
}
input[type=email]{
border-radius: 20px;
width:30%;
height:30px;
background-color: white;
border-color: white;
font-size: 15px;
padding-right:50px;
}
input[type=button]{
    border-radius: 30px;
    width:10%;
    height:40px;
    background-color: #6CB840;
    border-color:#6CB840 ;
    font-size: 15px;
    }
    .footer{
        background-color: #C9ECB5;
        width: 100%;
        height:400px;
        font-weight: 300px;
       
    }