body{
    width:100%;
background-color: white;
font-family:Poppins;
}
html{

}
.ET{
   display:flex;
    
}
#phead2{
    color: #EAAB1B;
    font-size: 40px;
    font-weight:20px;
 }

#ptext2{
    font-size:20px;
    text-align: justify;

}
.flexcontainer{
    display: flex;
    background-color: #eaf3e4;
    border:2px solid black;
         }